<p>product-card works!</p>
<div class="product-container">
    <h1>Product List</h1>
    
    <div *ngIf="products.length > 0; else noProducts">
      <div class="product-card" *ngFor="let product of products">
        <img [src]="product.productImageUrl" alt="{{ product.productName }}" class="product-image">
        <h2>{{ product.productName }}</h2>
        <p>{{ product.productDescription }}</p>
      </div>
    </div>
    
    <ng-template #noProducts>
      <p>No products available.</p>
    </ng-template>
  </div>
  
